.add-profile {
    position: relative;
    z-index: 0;
    margin-top: -20px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: $color-light-grey;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.add-profile__title {

}

.add-profile__table {

}

.add-profile__tbody {

}

.add-profile__trbody {

}

.add-profile__column-body {

}

.add-profile__link-show-more {

}

