$color-black: #192144;
$color-yellow: #FFD748;
$color-white: #FFFFFF;
$color-first-special-orange: #FF8D30;
$color-twice-special-orange: #FFA530;
$color-third-special-orange: #FFBD30;;
$color-fourth-special-orange: #FFD74B;
$color-dark-blue: #161C35;
$color-light-blue: #EDEFF6;
$color-grey: #444444;